{% extends 'base.html' %}
{% block titulo %} {{ingrediente.nombre}} {% endblock titulo %}
{% block contenido %} 
<h2>{{pizza.nombre}}</h2>
    <!-- una foto de la pizza estaría bien-->
    <p> {{pizza.descripcion}}</p>
    <h3> Masa: </h3>
    <p><a href="{% url 'show_masa' pizza.masa.id %}">{{pizza.masa.nombre}}</a></p>
    <h3> Ingredientes: </h3>
    <ul>
    {% for i in ingredientes %}
        <li><a href="{% url 'show_ingrediente' i.id%}"> {{i.nombre}} </a></li>
    {% endfor %}
    </ul>
<h3>Precio </h3>
 <p>{{pizza.precio}}€</p> 
 <hr>
 <h3> Pedido online </h3>
<textarea id="pedidobox" placeholder="Introduce la dirección a la que quieres recibir la pizza"></textarea>
<br>    

<button onclick="comprarPizza()">Pedir</button>


{% endblock contenido %}


